<%- include ('partials/header.ejs'); %>
<%- include ('partials/navbar.ejs'); %>



 <body>
  <div class="container">
    <br>
      <div class="card-header">
        <h3>CPF:<%= CPF %></h3>
        <a href="/gerarcpfcomponto"><button class="btn btn-success" >Gerar CPF</button> </a> 
        <a href="/gerarcpfsemponto"><button class="btn btn-success" >Gerar CPF sem pontuação</button> </a> 
        <button class="btn btn-primary" onclick="copyToClipboard('<%= CPF %>')">Copiar</button>
      </div>  
    <br>
      <div class="card-header">
        <h3>CNPJ:<%= CNPJ %></h3>  
        <a href="/gerarcnpj"><button class="btn btn-success">Gerar CNPJ</button></a>
        <a href="/gerarcnpjsemponto"><button class="btn btn-success">Gerar CNPJ sem pontuação</button></a>
       <button class="btn btn-primary" onclick="copyToClipboard('<%= CNPJ %>')">Copiar</button>
      </div>
    <br>
      <div class="card-header">
        <h3>Senha:<%= senha %></h3>  
        <a href="/gerarsenha"><button class="btn btn-success">Gerar Senha</button></a>
       <button class="btn btn-primary" onclick="copyToClipboard('<%= senha %>')">Copiar</button>
      </div>
    <br>
    <div class="card-header">
      <h3>Placa:<%= placa %></h3>  
      <a href="/gerarplaca"><button class="btn btn-success">Gerar placa</button></a>
      <a href="/gerarplacaantiga"><button class="btn btn-success">Gerar placa antiga</button></a>
     <button class="btn btn-primary" onclick="copyToClipboard('<%= placa %>')">Copiar</button>
    </div>
    <br>
      <div class="mt-3" id="confirmationMessage" style="display: none; color: green;">Copiado com sucesso!&#10004;</div>  
  </div>

   
 </body>



 


 <%- include ('partials/footer.ejs'); %>

 <script>


  function copyToClipboard(text) {
    navigator.clipboard.writeText(text)
      .then(() => {
        console.log('Texto copiado com sucesso!');
        // Exiba a mensagem de confirmação
        document.getElementById('confirmationMessage').style.display = 'block';
        // Oculte a mensagem após alguns segundos (opcional)
        setTimeout(() => {
          document.getElementById('confirmationMessage').style.display = 'none';
        }, 2000);
      })
      .catch(err => {
        console.error('Erro ao copiar texto: ', err);
      });
  }
</script>
<script>
